<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">Adding a Form</span>
      </h1>

    </div>
  </div>
</div>


<div class="background" style="height:95vh">

  <div class="ui container">

    <div class="ui segment" id="top" style="float:left;max-width: 300px !important;margin: 100px 0 0 0;">
      <p style="margin-top: 10px;color:  white;font-size: 1.5em;font-weight: bolder; text-align: center">
        Questions
      </p>

      <br><br><br>


      <div class="ui form">
        <div class="field">
          <div class="ui icon input">
            <i class="search icon"></i>
            {{input type="text" placeholder="Search..."  value=query }}
          </div>
        </div>
      </div>

      <br><br>

      <div style="display: inline">
        <table class="ui fixed table" style="border: none;border-color: white;">
          <tbody >
          <tr style="font-weight: bold;">
            {{#each questionAttributes as |column|}}
              <th style="padding-left: 1em" class={{column.class}} {{action 'sortColumn' column.key column.dir}}>{{column.name}}
                {{#if (eq column.dir 'asc')}}
                  <i class="sort ascending icon"></i>
                {{/if}}
                {{#if (eq column.dir 'desc')}}
                  <i class="sort descending icon"></i>
                {{/if}}
                {{#if (eq column.dir '')}}
                  <i class="sort icon"></i>
                {{/if}}
              </th>
              <th class="left aligned four wide column"></th>
            {{/each}}
          </tr>
          </tbody>
        </table>
      </div>

      <div class="ui divider"></div>

      <div  id="questionWin" style="height:500px; overflow-y: scroll; overflow-x: hidden;">
        <table class="ui fixed table" id="tb" style="margin: 0 0;border: none;">
          <tbody >
          {{#if asc}}
            {{#each sortedNames as |question|}}
              <tr>
                {{#each questionAttributes as |column|}}
                  <td class={{column.class}}>
                    {{get question column.key}}
                  </td>
                  <td class="left aligned four wide column">
                    <div class="cd-form">
                    {{ui-checkbox checked=(get question 'selected') onChange=(action (mut (get question 'selected')))}}
                    </div>
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          {{else}}
            {{#each sortedNamesDesc as |question|}}
              <tr>
                {{#each questionAttributes as |column|}}
                  <td class={{column.class}}>
                    {{get question column.key}}
                  </td>
                  <td class="left aligned four wide column">
                    <div class="cd-form">
                    {{ui-checkbox checked=(get question 'selected') onChange=(action (mut (get question 'selected')))}}
                    </div>
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          {{/if}}
          </tbody>
        </table>
      </div>
    </div>



    <button class="ui green button" style="position:absolute;margin:300px 20px 20px 20px;;float:left;min-width: 100px;" {{action "add"}}>
      Add
    </button>

    <button class="ui red button" style="margin:400px 20px 20px 20px;float:left;min-width: 100px;" {{action "remove"}}>
      Remove
    </button>





    <div class="ui segment" id="top" style="height:734px;float:left;margin-top: 100px; max-width: 680px !important;">

      <div class="ui grid" style="margin-top: 2px;">
        <div class="left eleven wide column" style="margin-top: -5px;">
          <p style="margin-top: 10px;color:  white;font-size: 1.5em;font-weight: bolder;">
            Form
          </p>
        </div>

      </div>


      <br><br><br>

      <link integrity="" rel="stylesheet" href="/assets/css/form-style.css"> <!-- Resource style -->
      <form id="edit" class="cd-form floating-labels" {{action "submit" on="submit"}}>

        <div class="field" style="margin: 1em 0;">
          {{input class="note" type="text" value = name placeholder="Form Title" required = true}}
        </div>
        <div class="field" style="margin: 1em 0;">
          {{input class="message" type="text" value = description placeholder="Description"}}
        </div>

        <div class="field" style="margin-left: 495px;margin-top: -212px;position:  absolute;">
          <button class="ui button" value="submit">
            save
          </button>
        </div>
      </form>


      <br>

      <div style="display: inline">
        <table class="ui fixed table" style="border: none;border-color: white;">
          <tbody >
          <tr style="font-weight: bold;">
            {{#each formAttributes as |column|}}

              {{#if (eq column.key 'sets' )}}
                <th style="padding-left: 1em" class={{column.class}}>{{column.name}}</th>

              {{else}}
                <th class={{column.class}}>
                  {{column.name}}
                </th>
              {{/if}}
            {{/each}}
            <th class="left aligned two wide column"></th>
            <th class="left aligned two wide column"></th>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="ui divider"></div>

      <div  id="formWin" style="height:428px; overflow-y: scroll; overflow-x: hidden;">
        <table class="ui fixed table" id="tb" style="margin: 0 0;border: none;">


          {{#sortable-group tagName="tbody" onChange="reorderItems" as |group|}}
            {{#each formsModel as |form|}}

              {{#sortable-item tagName="tr" model=form group=group spacing=15 handle=".handle"}}

                {{#each formAttributes as |column|}}
                  <td class={{column.class}}>
                    {{get form column.key}}
                  </td>
                {{/each}}
                <td class="left aligned two wide column">
                  <div class="cd-form">
                  {{ui-checkbox checked=(get form 'selectedList') onChange=(action (mut (get form 'selectedList')))}}
                  </div>
                </td>
                <td class="left aligned two wide column">
                  <span class="handle" style="cursor: pointer">&varr;</span>
                </td>

              {{/sortable-item}}
            {{/each}}

          {{/sortable-group}}

        </table>
      </div>
    </div>

  </div>
</div>