<p style="cursor: pointer; " title="Edit"  {{action 'openModal' }}>
  <img src="/assets/images/pencil.svg">
</p>


{{#ui-modal name=modalName class=modalName }}
  <i class="close icon"></i>
  <link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css"> <!-- Resource style -->

  <div class="header">Edit Client</div>
    <div class="scrolling content" >

  <form id="edit" class="cd-form floating-labels" {{action "submit" on="submit"}}>

      <legend>Personal Info</legend>

    <div class="ui hidden divider"></div>
    <div class="ui two column grid">
      <div class="column " style="margin: 1em 0;">
        <label class="cd-label">First Name</label>
        {{input class="user" type="text" value = pateintsData.givenName required = true}}
      </div>
      <div class="column " style="margin: 1em 0;">
      <label class="cd-label">Last Name</label>
        {{input class="user" type="text" value = pateintsData.familyName required = true}}
      </div>
    </div>

    <div class="ui two column grid">
      <div class="column " style="margin: 1em 0;">
        <label class="cd-label">Date of Birth</label>
        <input class="date" type="date" value= {{selectedDate}}  onchange={{action 'assignDate' value="target.value"}} required>
      </div>

      <div class="column " style="margin: 1em 0;">
        <h4 >Gender</h4>

        <p class="cd-select icon">
          <select class="people" onchange={{action 'selectGender' value="target.value"}}>
            {{#each genderModel as |oneGender|}}
              <option value={{oneGender.name}} selected={{eq pateintsData.gender oneGender.name}}>
                {{oneGender.name}}
              </option>
            {{/each}}
          </select>
        </p>

      </div>
    </div>


    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <legend>Address</legend>
    <div class="ui hidden divider"></div>


    <div class="ui two column grid">
      <div class="column " style="margin: 1em 0;">        <label class="cd-label">Number</label>
        {{input class="home" type="number" min="1" value = pateintsData.streetNumber required = true}}
      </div>
      <div class="column " style="margin: 1em 0;">
        <label class="cd-label">Street Name</label>
        {{input class="home" type="text" value = pateintsData.streetName required = true}}
      </div>
    </div>


      <div class="ui two column grid">
        <div class="column " style="margin: 1em 0;">        <label class="cd-label" for="cd-name">Unit</label>
          {{input class="bookmark" type="number" min="1" value = pateintsData.apartment}}
        </div>

        <div class="column " style="margin: 1em 0;">
          <label class="cd-label" for="cd-name">Postal/ZIP Code</label>
          {{input class="flag" type="text" value = pateintsData.postalCode required = true}}
        </div>
      </div>


    <div class="ui three column grid" id="grid">
      <div class="column " style="margin: 1em 0;">
        <h4 >Country</h4>

        {{#ui-dropdown class="address selection" selected = countryName onChange=(action (mut country))}}
          <div class="default text"></div>
          <i class="dropdown icon" id="selectIcon"></i>
          <div class="menu">
            {{#each model as |country|}}
              <div data-value="{{country.id}}" class="item" >
                {{country.name}}
              </div>

            {{/each}}
          </div>
        {{/ui-dropdown}}

      </div>
      <div class="column " style="margin: 1em 0;">
        <h4>Province</h4>
        {{#ui-dropdown class="address selection" selected = provinceName onChange=(action (mut province))}}
          <div class="default text" >select a province</div>
          <i class="dropdown icon" id="selectIcon"></i>
          <div class="menu">
            {{#each provModel as |province|}}
              <div data-value="{{province.id}}" class="item">
                {{province.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="column " style="margin: 1em 0;">
        <h4>City</h4>
        {{input class="world" type="text" value = pateintsData.city placeholder="City" required = true}}
      </div>
    </div>



    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <legend>Contact Info</legend>
    <div class="ui hidden divider"></div>


      <div class="field" style="margin: 1em 0;">
        <label class="cd-label" for="cd-name">Phone Number</label>
        {{input class="phone" type="text" value = pateintsData.phoneNumber required = true}}
      </div>

      <div class="field" style="margin: 1em 0;">
        <label class="cd-label" for="cd-email">Email</label>
        {{input class="email" type="email" value = pateintsData.email required = true}}

      </div>

    <div class="field">
      <button class="fluid ui blue button" style="max-width: 100%; height: 50px;">
        Submit
      </button>
    </div>

  </form>

  </div>

{{/ui-modal}}