<div id="window">


<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css">

<div id="example" class="index">

    <div class="full height">
      <div class="following bar {{stickyValue}}" id="header">
        <div class="ui container">

          <div class="ui large secondary network menu inverted" id="menu">
            <div class="item">
              <div class="ui logo shape">
                <div class="sides">
                  <a class="active ui side" href="#home">
                    <img class="ui image selfStart" src='assets/images/home/Header.png'>
                  </a>
                </div>
              </div>
            </div>


            <div class="right menu {{invertedValue}}">

              <a class="item scroll" href="#about">About</a>
              <a class="item" href="#howItWorks">How it Works</a>
              <a class="item" href="#services">Services</a>
              <a class="item" href="#FAQs">FAQs</a>
              <a class="item" href="#contact">Contact</a>
              {{#if auth.isAuthenticated}}
                {{!-- <a id="login" class="item" {{action 'openModal'}}>Log in</a> --}}
                <a class="item" {{action "logout"}}>Logout</a>
              {{else}}
              {{user-login}}
                {{!-- <a class="item" {{action "logout"}}>Logout</a> --}}
                {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{yield}}

    </div>
  </div>

</div>

{{!-- {{#ui-modal name="login" class="login tiny"}}

  {{#if loggingIn}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css"> <!-- Resource style -->

    <h2 class="ui fluid centered header" style="border-radius: 0.28571429rem;">Sign in</h2>


    <div id="ui container" style="height: 355px; padding-left:5%; padding-right: 5%; padding-top: 2%">
      <form class="cd-form floating-labels" {{action "submit" on="submit"}}>

        <div class="field">
          {{input class="email" type ="email" value=Email placeholder="Email" required = true}}
        </div>
        <div class="field">
          {{input class="lock" type ="password" value=PWord placeholder="Password" required = true}}
        </div>

        <div class="field">
          <input type="checkbox" id="cd-checkbox-1">
          <label for="cd-checkbox-1">Remember me</label>
        </div>

        <div class="field">
          <button class="fluid ui blue button" style="max-width: 100%; height: 50px;">Login</button>
        </div>

        <div class="field">
          <p style="cursor: pointer; text-align: center;  text-decoration: underline; padding-top: 65px"{{action 'forgotPassword'}}>forgot your password?</p>
        </div>

      </form>
    </div>

  {{else}}
    <link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css"> <!-- Resource style -->

    <h2 class="ui fluid centered header" style="border-radius: 0.28571429rem;">Sign in</h2>

    <div id="ui container" style="height: 260px; padding-left:5%; padding-right: 5%; padding-top: 3%">
    <p style="text-align: center;">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
      <form class="cd-form floating-labels" {{action "submit" on="submit"}}>
        <div class="field">
          {{input class="email" type ="email" value=Email placeholder="Email" required = true}}
        </div>

        <div class="field">
          <button class="fluid ui blue button" style="max-width: 100%; height: 50px;" value="Submit">Reset Password</button>
        </div>

        <div class="field">
          <p style="cursor: pointer; text-align: center;  text-decoration: underline; padding-top: 65px" {{action 'login'}}>Back to log-in</p>
        </div>
      </form>
    </div>
  {{/if}}

{{/ui-modal}} --}}