<!--&lt;!&ndash; PRELOADER &ndash;&gt;-->
<!--<div id="preloader"><div><em></em><em></em><em></em><em></em></div></div>-->
<!--&lt;!&ndash; //PRELOADER &ndash;&gt;-->
{{#nav-bar}}

  <div class="masthead segment bg1" id="home">
    <div class="ui container">
      <div class="introduction">
        <h1 class="ui inverted header">
          <span class="library">Self Start</span>
          <span class="tagline">

            Guiding your health and well–being
          </span>
        </h1>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui center aligned grid">

          <!--<a href="/appointment"  class="ui large inverted download button" >-->
            <!--Book Appointment-->
          <!--</a>-->
          {{user-info model=model}}

          {{ask-a-physio}}
        </div>

      </div>
    </div>
  </div>

  <div class="ui vertical stripe intro segment" id="about" style="border-bottom: 10px dotted whitesmoke; padding-top: 10em">
    <div class="ui stackable very relaxed stacked aligned grid container">

      <div class="row">
        <div class="ten wide column" style="margin-top: -80px">
          <span class="library" style="font-size: 4em;position: relative;">About Us</span>
          <br>
          <h1 class="ui header">Stephanie Marcotte</h1>
          <p style="color: grey;font-size: 1.4em;margin-top: -15px;">
            Practitioner
          </p>
          <p style="font-size: 20px;color: black;">

          <p>As a physiotherapist, Stephanie Marcotte has dedicated herself to helping others discover a pain-free life by tapping into the power of their own body. Now, to help reach more people, Stephanie has developed a unique online platform that allows her to share her expertise in a convenient, effective, and personalized way.</p>
          <br>
          <p>With over three decades of professional experience, Stephanie inspires her clients to move towards a better life, giving them the tools they need to feel better. Stephanie has studied and observed thousands of bodies in injury and pain over the years. When in pain, whether physical or emotional - we stop moving. The body bears the burdens in life, both mentally and physically.</p>
          <br>
          <p>A keen observer of how the human body moves and works as a whole, Stephanie is dedicated to helping others discover the ease of living a pain-free life.</p>
          </p>
        </div>
        <div class="six wide column">
          <img class="ui image" src="assets/images/home/Steph-4491-1200x1800.jpg">
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe intro segment" style="border-bottom: 10px dotted whitesmoke; padding-top: 10em;padding-top: 5em">
    <div class="ui stackable very relaxed stacked aligned grid container">
      <div class="row">
        <div class="six wide column" style="margin-top: 90px">
          <img class="ui image" src="assets/images/home/cF8DR95V.png">
        </div>
        <div class="ten wide column" style="margin-top: -50px">
          <span class="library" style="font-size: 2.5em;position: relative;">Her treatment method is simple:<br> A little way with a little movement.</span>
          <p style="font-size: 20px">
          <p>By utilizing movement from within your own body, Stephanie will help you return to a state of well-being. Her custom-tailored work, which uses simple movement patterns without any force, reminds your body of its proper design function.</p>
          <br>
          <p>Once you start moving again, you’ll be inspired to keep going.</p>
          <br>
          <p>A leader in the self-care movement, Stephanie’s expertise in the field of pain relief will give you the knowledge and confidence you need to step into a better life.</p>
          <br>
          <p>Through individualized consultation sessions, Stephanie works alongside you to help you achieve your best health. She believes that your body knows how to heal itself and that you already have everything you need to feel better about your body and your life.</p>
          <br>
          <p>A little way with a little movement really will help you enjoy a life you never thought possible. Discover how Stephanie can help you today!</p>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe intro segment" style="padding-top: 5em">
    <div class="ui stackable very relaxed stacked aligned grid container">
      <div class="row">
        <div class="ten wide column" style="margin-top: -50px">
          <span class="library" style="font-size: 2.5em;position: relative;">What I Believe</span>
          <p style="font-size: 20px">
            I believe movement is life.<br>
            I believe you can heal your body with functional movement patterns.<br>
            I believe it is never to late to create change in a body & it can happen fast.<br>
            I believe your body knows what it needs.<br>
            I believe every system in your body relies on a functional musculoskeletal system.<br><br>
            All systems in the body work on movement:<br>
            <ul>
            <li>the heart beats</li>
            <li>the lungs breath</li>
            <li>the stomach grinds</li>
            <li>the colon transports</li>
            <li>the blood flows</li>
            <li>the nerves conduct</li>
            <li>the muscles contract</li>
            </ul><br>
            Dis-ease in the body begins when movement is impaired. Restore your proper design for movement and your pain will cease. No fancy machinery or magic pills required; your body already has everything it needs to heal.<br><br>
            I believe you need to trust yourself.<br>
            I believe you need to take responsibility for your present state of health.<br>
            I believe you can become free of your pain.
          </p>
        </div>
        <div class="six wide column" style="margin-top: 90px">
          <img class="ui image" src="assets/images/home/runner_angle.png">
        </div>
      </div>
    </div>
  </div>


  <!--<div class="feature alternate ui stripe vertical segment" id="howItWorks" style="padding-top: 10em">-->
    <!--<div class="ui container">-->
      <!--<span class="library" style="font-size: 4em;position: relative;">How it Works</span>-->
    <!--</div>-->
  <!--</div>-->

  <div class="feature alternated ui striped vertical segment" id="howItWorks" style="padding-top: 10em">
    <div class="ui three column doubling grid container">
      <div class="row">
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/calendar-60.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">1</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;">Book an appointment by logging in or creating an account</p>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/widget.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">2</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;padding-bottom: 2em">You will be asked to complete an initial intake form, submit posture photos & perform a simple movement assessment</p>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/video-66.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">3</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;">The 90-minute initial video conference takes place in a similar fashion as if you were in a therapy center</p>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/chat-46.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">4</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;">During the consultation phase we will review your therapy goals, discuss your condition in greater detail, and perform some simple movements</p>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/notes.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">5</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;padding-bottom: 2em">A movement sequence will be uploaded to your account, where you can view and perform your sequence every day</p>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <div class="sphere centered"><img style="margin-top: 1.7em;width: 80px;margin-left: 2.1em;position: absolute;" class="ui image" src="assets/images/home/icons/calendar-60.svg"></div>
          </div>
          <div class="row">
            <div class="number" style="text-align: center">6</div>
          </div>
          <div class="row">
            <p style="text-align: center;margin-left:15%;margin-right:15%;line-height: 1.5em;font-size: 1.1em;color:  white;">Follow–up appointments are then arranged with your therapist depending on the consultation package purchased</p>
        </div>
      </div>
    </div>

    </div>
  </div>
  <div class="alternate ui stripe vertical segment" id="services" style="padding-top: 10em">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/payment-style.css"> <!-- Resource style -->

    <div class="ui container">

        <div class="ui three column doubling stackable grid container">

          <span class="library" style="font-size: 4em;position: relative;left:2.4%">Services</span><br>

          <div class="row">
            <div class="column">
              <div class="ui payment card" style="box-shadow: none;left: 50%;transform: translate(-50%);">
                <div class="content" style="text-align: center">
                  <h3 style="font-weight: bold; text-transform: uppercase;">Assessment Package</h3><br>
                  <br>
                  <div class="cd-price">
                    <span class="cd-currency">$</span>
                    <span class="cd-value">150</span>
                    <br><br>
                  </div>
                </div>
                <div class="content" style="padding: 0 0 25px 0;">
                  <table class="ui striped table" style="border: none; text-align: center" >
                    <thead>
                      <tr>
                        <th style="font-weight: 500">Video conference / email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Personal therapy plan</td>
                      </tr>
                      <tr>
                        <td>Education & advice</td>
                      </tr>
                      <tr>
                        <td style="height: 42px"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                {{!-- <div class="extra content footer" style="padding: 0 0 0 0;background-color: #2c3452;height: 55px;border-radius: 3px !important;"> --}}
                  {{!-- <p style="text-align: center;color: white;letter-spacing: 2px;padding-top: 17.5px;">{{payment-button}}</p> --}}
                {{!-- </div> --}}
              </div>

            </div>

            <div class="column">

              <div class="ui payment card" style="box-shadow: none;left: 50%;transform: translate(-50%);">
                <div class="content" style="text-align: center">
                  <h3 style="font-weight: bold; text-transform: uppercase;">Assessment + 3 sessions</h3>
                  <br>
                  <div class="cd-price">
                    <span class="cd-currency">$</span>
                    <span class="cd-value">350</span>
                    <br><br>
                  </div>
                </div>
                <div class="content" style="padding: 0 0 25px 0;">
                  <table class="ui striped table" style="border: none; text-align: center" >
                    <thead>
                    <tr>
                      <th style="font-weight: 500">Video conference / email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>3 extra conference / email sessions</td>
                    </tr>
                    <tr>
                      <td>Personal therapy plan</td>
                    </tr>
                    <tr>
                      <td>Education & advice</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                {{!-- <div class="extra content footer" style="padding: 0 0 0 0;background-color: #2c3452;height: 55px;border-radius: 3px !important;"> --}}
                  {{!-- <p style="text-align: center;color: white;letter-spacing: 2px;padding-top: 17.5px;">{{payment-button-package-2}}</p> --}}
                {{!-- </div> --}}
              </div>

            </div>


            <div class="column">

              <div class="ui payment card" style="box-shadow: none;left: 50%;transform: translate(-50%);">
                <div class="content" style="text-align: center">
                  <h3 style="font-weight: bold; text-transform: uppercase;color: #e97d68">Assessment + 6 sessions</h3>
                  <br>
                  <div class="cd-price" >
                    <span class="cd-currency" style="color: #e97d68">$</span>
                    <span class="cd-value" style="color: #e97d68">550</span>
                    <br><br>
                  </div>
                </div>
                <div class="content" style="padding: 0 0 25px 0;">
                  <table class="ui striped table" style="border: none; text-align: center" >
                    <thead>
                    <tr>
                      <th style="font-weight: 500">Video conference / email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>6 extra conference / email sessions</td>
                    </tr>
                    <tr>
                      <td>Personal therapy plan</td>
                    </tr>
                    <tr>
                      <td>Education & advice</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                {{!-- <div class="extra content footer" style="padding: 0 0 0 0;background-color: #e97d68;height: 55px;border-radius: 3px !important;"> --}}
                  {{!-- <p style="text-align: center;color: white;letter-spacing: 2px;padding-top: 17.5px;">{{payment-button-package-3}}</p> --}}
                {{!-- </div> --}}
              </div>
            </div>
          </div>


          <table class="ui table" style="padding-left: 0">
            <thead>
            <tr>
              <th style="font-weight: 500;font-size: 20px;padding-left: 60px;">Single Follow-up Appointments within 3 months of initial consultation</th>
              <th style="background-color: white; text-align: center"><div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">75</span>
                <br><br>
              </div></th>
            </tr>
            </thead>
          </table>

        </div>
    </div>
  </div>

  <div class="ui vertical stripe intro segment" id="FAQs" style="padding-top: 10em">

    <div class="ui stackable grid container">
      <span class="library" style="font-size: 4em;position: relative;left:2.4%">FAQs</span><br>
        <div class="row" style="margin: 0 0;margin-top: 2em">
          {{#ui-accordion class="styled"}}
            <div class="title" style="color: white;background-color: #ec6060;padding: 1em;">
              How do I set up Video Conferencing:
            </div>
            <div class="content" style="color: white;background-color: rgba(236, 96, 96, 0.6);padding: 1em;line-height: 1.6em;">
              Skype
            </div>
          {{/ui-accordion}}
        </div>
        <div class="row" style="margin: 0 0;">
          {{#ui-accordion class="styled"}}
            <div class="title" style="color: white;background-color: #7e5c8c;padding: 1em;">
              How do I upload Photos:
            </div>
            <div class="content" style="color: white;background-color: #7e5c8c9e;padding: 1em;line-height: 1.6em;">
              The ability for you to stand in front of your webcam for posture analysis
              will be important. It is best if you are wearing shorts and a tank top so that
              your legs are visible above the knees and your shoulders and arms are
              visible. You are in your bare feet. You may choose to upload 4 posture photos prior to the
              appointment, as this will expedite the assessment process.
            </div>
          {{/ui-accordion}}
        </div>
        <div class="row" style="margin: 0 0;">
          {{#ui-accordion class="styled"}}
            <div class="title" style="color: white;background-color: #a7587f;padding: 1em;">
              What happens during my 1st appointment:
            </div>
            <div class="content" style="color: white;background-color: #a7587fbd;padding: 1em;line-height: 1.6em;">
              At evaluation we will discuss your symptoms and your general health history
              I may ask you to perform several movements during your assessment,
              so having the space in front of your webcam for you to stand, sit or lie on the floor
              would be excellent.<br><br>
              After the initial evaluation, I will recommend a specific sequence of movements or exercises.
              This sequence is called a menu. This menu is designed to relieve your symptoms
              and improve your overall joint alignment and body balance. It is designed to be performed
              daily for maximum results.<br><br>
              This initial online consultation will be approximately 60-90 minutes.
            </div>
          {{/ui-accordion}}
        </div>
      <div class="row" style="margin: 0 0;">
        {{#ui-accordion class="styled"}}
          <div class="title" style="color: white;background-color: #51a990;padding: 1em;">
            What is a follow up assessement?
          </div>
          <div class="content" style="color: white;background-color: #51a990a1;padding: 1em;line-height: 1.6em;">
            A followup consultation is scheduled in a week to review your
            menu and make changes. Your followup will be approximately 30-45 minutes.
          </div>
        {{/ui-accordion}}
      </div>
      <div class="row" style="margin: 0 0;">
        {{#ui-accordion class="styled"}}
          <div class="title" style="color: white;background-color: #4297b7;padding: 1em;">
            What if you can’t help my problem?
          </div>
          <div class="content" style="color: white;background-color: #4297b7b8;padding: 1em;line-height: 1.6em;">
            If I feel that your condition is not suitable for online treatment, I will refund your money
            and suggest a suitable alternative type of treatment for you.
          </div>
        {{/ui-accordion}}
      </div>
    </div>
  </div>

  <div class="alternate ui stripe vertical segment" id="contact" style="padding-top: 8em">
    <div class="ui three column doubling stackable grid container">
      <span class="library" style="font-size: 4em;position: relative;left:2.4%">Contact Us</span><br>
      <div class="row">
        <div class="column">
          <div class="row">
            <i class="phone icon" style="color: #6ac9c8;left: 46%;position: relative;font-size: 200%;"></i>
          </div>
          <div class="row">
            <h3 style="text-align: center">+12269841252</h3>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <i class="envelope icon" style="color: #6ac9c8;left: 46%;position: relative;font-size: 200%;"></i>
          </div>
          <div class="row">
            <h3 style="text-align: center">youda@uwo.ca</h3>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <i class="map marker alternate icon" style="color: #6ac9c8;left: 46%;position: relative;font-size: 200%;"></i>
          </div>
          <div class="row">
            <h3 style="text-align: center">817 Silversmith St</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe intro segment" style="padding: 0">
    <div class="row">
      <iframe width="100%" height="400px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJN-4699DCOogRWy1yYa3Hdrc&key=AIzaSyC8E7g5IViDPVpUSV-TTiEd0VRgkNz7EEc" allowfullscreen></iframe>
    </div>
  </div>

  <div class="ui black inverted vertical footer segment" style="padding-top: 8em;padding-bottom: 4em">
    <div class="ui center aligned container">
      <div class="ui stackable inverted grid">
        <br>
      </div>
      <br><br>
      <div class="ui inverted section divider"></div>
      <div class="ui hidden divider"></div>
      <div class="row">
        <div class="ui horizontal inverted small divided link list">
          <a class="item">Powered By: </a>
        </div>
      </div>
      <div class="row" style="    position: relative;">
        <img src="assets/images/Brigade.png" class="ui centered mini image" style="    height: 50px;width: auto;left: 50%;position: absolute;transform: translate(-50%, 20%);">
      </div>
      <br><br>


    </div>
  </div>
{{/nav-bar}}